# Android
*.apk
*.ap_

# Gradle files
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Local configuration file (if any)
.gradle.kts/

# Miscellaneous
.DS_Store
/build
/captures
/externalNativeBuild
/local.properties
/release
